body, html {
    background-color: brown;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-family: serif;
}

.container {
    display: flex;
    height: 100vh;
    justify-items: center;
    flex-direction: column;
}

.rps {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

button {
    height: 60px;
    width: 200px;
    border-radius: 12px;
    color: darkblue;
    font-size: 1.5em;
}

h1 {
    margin-top: 20px;
}
